form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  margin-top: 100px;
}

form label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #152c61;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #0d1a3b;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.product-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.product-detailed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
